body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #575F7D;
    font-size: 20px;
    text-align: center;
}
a{
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
    font-weight: 500;
}
a:hover{
    color: black;

}
img{
    border-radius: 50%;
    border: 10px solid red;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9);

}
#d1{
    background-color: rgb(180, 180, 240);
}
#d2{
    background-color: pink;
}
#d3{
    background-color: rgb(191, 248, 191);
}
.par{
    border-width: 2px;
    font-style: italic;
}